<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>C19HDM | Not Found</title>
</head>
<body>
<%- include('./partials/notification.ejs') %>
<%- include('./partials/navbar.ejs') %>
<h1>
    Error 404
</h1>
<h1>
    Page not found
</h1>
</body>
</html>
