<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>HDM | Server Error</title>
</head>
<body>
<%- include('./partials/notification.ejs') %>
<%- include('./partials/navbar.ejs') %>
<h1>
    Server Error 500
</h1>
</body>
</html>
