<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>C19HDM | Server Error</title>
</head>
<body>
<%- include('./partials/notification.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div style="margin: 7% 15%" class="holder">
    <h1>
        Server Error 500
    </h1>
</div>
<script src="../js/socket.js"></script>

</body>
</html>
