<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
  <title>Home distance monitoring</title>
  <link rel="stylesheet" href="../css/coordinator.css">
  <link rel="stylesheet" href="../css/nav.css">

</head>
<body>
<%-include('./partials/navbar.ejs')%>

<div class="row">
  <div class="col-lg-5 col-md-6 table-container">
    <table class="table table-fixed">
      <caption style="caption-side: top" >List Of Doctors : </caption>
      <thead>
      <tr>
        <th>Patient Name</th>
        <th>Age</th>
        <th>National ID</th>
        <th>Phone Number</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>

      </tbody>

    </table>
  </div>
  <div class="col-lg-5 col-md-6 table-container">
    <table class="table table-fixed">
      <caption style="caption-side: top" >List Of Monitors : </caption>
      <thead>
      <tr>
        <th>Patient Name</th>
        <th>Age</th>
        <th>National ID</th>
        <th>Phone Number</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <a href=''><button class="delete-btn">Delete</button></a>
        </td>
      </tr>

      </tbody>

    </table>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-lg-5 col-md-6 table-container">
    <table class="table table-fixed">
      <caption style="caption-side: top" >List Of Doctors : </caption>
      <thead>
      <tr>
        <th>Patient Name</th>
        <th>Age</th>
        <th>National ID</th>
        <th>Phone Number</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>

      </tbody>

    </table>
  </div>
  <div class="col-lg-5 col-md-6 table-container">
    <table class="table table-fixed">
      <caption style="caption-side: top" >List Of Monitors : </caption>
      <thead>
      <tr>
        <th>Patient Name</th>
        <th>Age</th>
        <th>National ID</th>
        <th>Phone Number</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>
      <tr>
        <td data-label="Name">Hamza</td>
        <td data-label="Age">21</td>
        <td data-label="National_ID">199916618</td>
        <td data-label="Phone-number">0776572329</td>
        <td>
          <button class="accept-btn">Accept</button>
          <button class="reject-btn">Reject</button>
        </td>
      </tr>

      </tbody>

    </table>
  </div>
</div>

</body>
</html>