<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emergency</title>
    <%-include('./partials/head.ejs')%>
    <link rel="stylesheet" href="../css/emergency.css">
    <link rel="stylesheet" href="../css/nav.css">
</head>
<body>

<%- include('./partials/notification.ejs') %>
<%- include('./partials/navbar.ejs') %>



<section id="questionnaire">

    <div class id="header">
        <h1>Emergency Request </h1>
    </div>

    <div class="description">
        If you are feeling like you need an emergency request fill the bellow and submit your request
    </div>

    <hr>

    <div class="form">
        <form id="report" action="">
            <div class='field required'>
                <textarea style="resize: none"  cols="130" rows="15" id='reason' placeholder="Reason?" name="reason" required></textarea>
            </div>

            <p class='field half'>
                <input  class='button btn btn-lg btn-primary btn-block' type='submit' value='Send'>
            </p>
        </form>
    </div>

</section>

<script src="../js/socket.js"></script>
<script src="../js/questionnaire.js" ></script>
</body>
</html>