<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <title>HDM | Emergency</title>
    <link rel="stylesheet" href="../css/forgetPassword.css">
</head>

<body>


<section id="forgetPassword">
    <div class id="header">
        <h1>Forget Your Password</h1>
    </div>

    <div class="logoImage">
        <img src="../images/logo-imag.PNG">
    </div>

    <div class="description">
        Please Fill and answer the question to reset your password.
    </div>

    <hr>

    <div class="form">
        <form id="report">
            <div class='field required'>
                <p><label for="Security-Question">Select Your Security Question : </label></p>
                <div>
                    <input class="securityAnswer" id="national-id" name="nationalId" type="text" placeholder="National Id" required/>
                    <span><i title="Provide your National id"  class="fas fa-exclamation-circle"></i></span>
                </div>
                <br>
                <select class="Security-Question" name="question" id="Security-Question">
                    <option selected disabled>Select Security Question</option>
                    <option value="q1">What is your pet name ?</option>
                    <option value="q2">What is your first school name ?</option>
                    <option value="q3">What is your best friend name ?</option>
                    <option value="q4">What is your favorite food ?</option>
                </select>
                <br>
                <br>
                <div>
                    <input class="securityAnswer" id="Security-Answer" name="answer" type="text" placeholder="Security Question" required/>
                    <span><i title="Answer The Security Question"  class="fas fa-exclamation-circle"></i></span>
                </div>
                <br>
                <div>
                    <input class="password" id="password" name="password" type="password" placeholder="Enter the New Password" required/>
                    <span><i title="Minimum 6 Characters"  class="fas fa-exclamation-circle"></i></span>
                </div>
            </div>

            <p class='field half'>
                <input class='button btn btn-lg btn-primary btn-block' type='submit' value='Send'>
            </p>
        </form>
    </div>

</section>
<script src="../js/forgetPassword.js"></script>
</body>
</html>
