<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home distance monitoring</title>

    <link rel="icon" href="/images/favicon.ico">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap" rel="stylesheet">

    <!--fontAwesome-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!--CSS linking-->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!--Bootstrap Linking-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>


</head>
<body>
<section id="title">

    <!--                         Navbar                                         -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="index.html"> <i class="logo"></i> COVID-19 HEALTHCARE SYSTEM</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="ul-nav navbar-nav ml-auto">

                <li class="nav-item">
                    <a href="#"><i class="fas fa-bell fa-2x notification"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
                             width="40" height="40" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <%if(user) {%>
                        <a class="dropdown-item" href="/profile/<%=user.nationalId%>">Profile</a>
                        <%}%>
                        <a class="dropdown-item" href="#">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!--home page contant-->
    <div class="home-page-content container-fluid">
        <div class="row">
            <div class="left-contant col-lg-4">
                <h3 class="covid-header">COVID-19 HEALTHCARE SYSTEM</h3>

                <p>Changing Lives One Smile At A Time</p>

                <button class="btn btn-primary serv-btn">VIEW ALL SERVICES</button>
            </div>

            <div class="home-page-image col-lg-6">
                <img class="pat-img" src="/images/healthcare_image.jpg" alt="Patient_home-page_image">
            </div>
        </div>
    </div>
</section>


<!--                                  Features                     -->

<section id="Features">

    <div class="row">
        <div class="Features-item-l col-lg-3 col-md-6">
            <a href="#"><i class="icon fas fa-heartbeat fa-5x not-link"></i></a>
            <h4>Health status</h4>
            <p>Your current health status occassionally updated by your designated doctor.</p>
        </div>

        <div class="Features-item-r col-lg-3 col-md-6">
            <a href="/html/questionnaire.html"><i class="icon far fa-question-circle fa-5x not-link"></i></a>
            <h4>Questionnaire</h4>
            <p><em>A set of questions that we adhere you to answer them daily. for your own healthcare!</em></p>
        </div>

        <div class="Features-item-l col-lg-3 col-md-6">
            <a href=""><i class="icon far fa-newspaper fa-5x not-link"></i></a>
            <h4>News</h4>
            <p>Health News, Medical Advice, Website Updates and basically anything new to know will be broadcasted.</p>
        </div>

        <div class="Features-item-r col-lg-3 col-md-6">
            <a href=""><i class=" icon far fa-phone-plus fa-5x not-link"></i></a>
            <h4>Emergency</h4>
            <p>If you are feeling Severe pain and want to seek urgent medical assistance.</p>
        </div>
    </div>

</section>

<!--more-->

<section id="more">
    <div class="firstPara">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="main-text font-weight-bolder display-4">PHYSICAL HEALTH</h1>
                <p class="italic-text text-muted font-italic">During COVID-19</p>
                <p class="info">
                    ‘The ability to perform daily tasks and live comfortably in one’s body’.
                </p>
                <p class="info">
                    Physical health is the well-being of the body and the proper functioning of the organism of individuals,
                    which is a normal condition for individuals of both physical,
                    and mental condition who are not suffering from any type of sickness.
                </p>
            </div>
            <div class="col-lg-6">
                <img class="first-more-img" src="/images/10748.jpg" alt="man">
            </div>
        </div>
    </div>
    <hr class="HrLine" size="3" noshade>
    <div class="secondPara">
        <div class="row">
            <div class="col-lg-6">
                <img class="more-img" src="/images/5302.jpg" alt="man">
            </div>
            <div class="col-lg-6">
                <h1 class="main-text font-weight-bolder display-4">MENTAL HEALTH</h1>
                <p class="italic-text text-muted font-italic">During COVID-19</p>
                <p class="info">
                    Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act.
                    It also helps determine how we handle stress, relate to others, and make choices.
                </p>
                <p>
                    Mental health is important at every stage of life, from childhood and adolescence through adulthood.
                    Over the course of your life, if you experience mental health problems, your thinking, mood, and behavior could be affected.
                </p>
            </div>
        </div>
    </div>

</section>


<!--                testimonials                    -->

<section id="testimonials">

    <div id="testimonial-caruosel" class="carousel slide" data-ride="false">

        <div class="carousel-inner">

            <div class="carousel-item active">
                <h2 class="light">OUR PATIENT</h2>
                <h2 class="heavy">SAY ABOUT US</h2>
                <img class="testimonials-img" src="/images/jordan.png" alt="وزاره الصحه الاردنيه">
                <h5 class="patient_name">Patient Name</h5>
                <P>Please contact us if you want to report any issue or want to add some features to our website through the following:</P>
                <p>Email:  ABCD@XYZ.COM // Phone Number: +012 12 5677 6574</p>

                <img src="/images/quotes-images.png" alt="quotes images" class="quotes testimonials-img">
            </div>

            <div class="carousel-item">
                <h2 class="light">OUR PATIENT</h2>
                <h2 class="heavy">SAY ABOUT US</h2>
                <img class="testimonials-img" src="/images/jordan.png" alt="وزاره الصحه الاردنيه">
                <h5 class="patient_name">Patient Name</h5>
                <P>Please contact us if you want to report any issue or want to add some features to our website through the following:</P>
                <p>Email:  ABCD@XYZ.COM // Phone Number: +012 12 5677 6574</p>

                <img src="/images/quotes-images.png" alt="quotes images" class="quotes testimonials-img">
            </div>

        </div>

        <a class="carousel-control-prev" href="#testimonial-caruosel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#testimonial-caruosel" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>


</section>


<!--                     Call To Action                         -->

<section id="cta">

    <h3 class="cta-h3">Wear your Mask, Stay Distant, Stay Safe!</h3>
    <!-- <button type="button" class="btn btn-dark btn-lg download-cta-button" ><i class="fab fa-apple"></i> Download</button>
    <button type="button" class="btn btn-light btn-lg download-cta-button"><i class="fab fa-google-play"></i> Download</button> -->

</section>


<!-- Footer -->


<footer id="footer">
    <a href="#" class="fo-icon"><i class="fab fa-twitter fa-2x icon-fo icon-animate"></i></a>
    <a href="#" class="fo-icon"><i class="fab fa-facebook-f fa-2x icon-fo icon-animate"></i></a>
    <a href="#" class="fo-icon"><i class="fab fa-instagram fa-2x icon-fo icon-animate"></i></a>
    <a href="#" class="fo-icon"><i class="fas fa-envelope fa-2x icon-fo icon-animate"></i></a>
    <p class="footer-p">&COPY; Copyright 2021 COVID-19 HEALTHCARE DISTANCE SYSTEM</p>

</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
