<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Healthcare system</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/index.js" defer></script>
</head>

<body>

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Create Account</h1>
            <br>
            <input type="text" placeholder="First Name"/>
            <input type="text" placeholder="Last Name"/>
            <input class="date" type="date" placeholder="Birthdate"/>
            <select>
                <option selected disabled style="display: none;">Gender</option>
                <option>Male</option>
                <option>Female</option>
            </select>
            <input type="text" placeholder="National ID"/>
            <input type="password" placeholder="Password"/>
            <input type="home" placeholder="Home Address"/>
            <input type="phone" placeholder="Phone Number"/>
            <select>
                <option selected disabled style="display: none;">Sign up as</option>
                <option>Patient</option>
                <option>Healthcare Monitor</option>
                <option>Special Doctor</option>
            </select>
            <br>
            <button>Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Sign in</h1>
            <br>
            <input type="text" placeholder="National ID"/>
            <input type="password" placeholder="Password"/>
            <a href="#">Forgot your password?</a>
            <button>Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Welcome to COVID-19 Healthcare System</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

</body>

</html>
