<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home distance monitoring</title>

    <link rel="icon" href="../images/favicon.ico">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap" rel="stylesheet">


    <!--fontAwesome-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


    <!--CSS linking-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!--Bootstrap Linking-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <!--    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">-->

    <link rel="stylesheet" href="../css/questionnaire.css">
    <link rel="stylesheet" href="../css/nav.css">

</head>
<body>

<%-include('./partials/navbar.ejs')%>

<div class="questionnaire-body container-fluid">
    <h1 class="heading" id="big">Covid-19 Daily Reports</h1>
    <p class="paraHeading">Thank you for taking the time to answer these questions. The following questions are about to know how well
        is your health</p>
    <hr class="line" noshade size="2">
<<<<<<< HEAD
    <form action='' class='form'>


=======
    <form id='report' action='' class='form'>
>>>>>>> refs/remotes/origin/client
        <div class='field required'>
            <label class='label required'>Been In Contact with a Positive carrier in the past 2 weeks?</label>
            <ul class='options'>
                <li class='option'>
                    <input class='option-input' id='yes-contact' name='positiveContact' type='radio' value= "true" required>
                    <label class='option-label' for='yes-contact'>Yes</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='no-contact' name='positiveContact' type='radio' value= "false">
                    <label class='option-label' for='no-contact'>No</label>
                </li>
            </ul>
        </div>


        <div class='field required'>
            <label class='label required'>Shortness of Breath severity</label>
            <ul class='options'>
                <li class='option'>
<<<<<<< HEAD
=======
<<<<<<< HEAD
                    <input class='option-input' id='Breath-0' name='breath' type='radio' value= "0" required>
                    <label class='option-label' for='Breath-0'>nothing</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='Breath-1' name='breath' type='radio' value= "1">
                    <label class='option-label' for='Breath-1'>Barely</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='Breath-2' name='breath' type='radio' value= "2">
                    <label class='option-label' for='Breath-2'>Good</label>
                <li class='option'>
                    <input class='option-input' id='Breath-3' name='breath' type='radio' value= "3">
                    <label class='option-label' for='Breath-3'>Perfect</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='Breath-4' name='breath' type='radio' value= "4">
                    <label class='option-label' for='Breath-4'>As Always</label>
=======
<<<<<<< HEAD
>>>>>>> f24a95a319ffff4fd814916f2550400d54cf0737
                    <input class='option-input' id='SoreThroat-1' name='soreThroat' type='radio' value= "1" required>
                    <label class='option-label' for='SoreThroat-1'>Yes</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='SoreThroat-0' name='soreThroat' type='radio' value= "0">
                    <label class='option-label' for='SoreThroat-0'>No</label>
>>>>>>> refs/remotes/origin/client
                </li>
            </ul>
        </div>

        <div class='field required'>
            <label class='label required'>Feeling A Sore Throat?</label>
            <ul class='options'>
<!--                <li class='option'>-->
<!--                    <input class='option-input' id='SoreThroat-1' name='throat' type='radio' value= "0" required>-->
<!--                    <label class='option-label' for='SoreThroat-1'>0</label>-->
<!--                </li>-->
                <li class='option'>
<<<<<<< HEAD
=======
<<<<<<< HEAD
                    <input class='option-input' id='SoreThroat-0' name='throat' type='radio' value= "1">
                    <label class='option-label' for='SoreThroat-0'>1</label>
=======
<<<<<<< HEAD
>>>>>>> f24a95a319ffff4fd814916f2550400d54cf0737
                    <input class='option-input' id='Breath-0' name='shortnessOfBreath' type='radio' value= "3" required>
                    <label class='option-label' for='Breath-0'>Breathing is perfect</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='Breath-1' name='shortnessOfBreath' type='radio' value= "2">
                    <label class='option-label' for='Breath-1'>Breathing Fine</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='Breath-2' name='shortnessOfBreath' type='radio' value= "1">
                    <label class='option-label' for='Breath-2'>Barely Breathing</label>
                <li class='option'>
                    <input class='option-input' id='Breath-3' name='shortnessOfBreath' type='radio' value= "0">
<<<<<<< HEAD
=======
=======
                    <input class='option-input' id='Breath-0' name='breath' type='radio' value= "3" required>
                    <label class='option-label' for='Breath-0'>Breathing is perfect</label>
>>>>>>> refs/remotes/origin/client
                </li>
                <li class='option'>
                    <input class='option-input' id='SoreThroat-2' name='throat' type='radio' value= "2">
                    <label class='option-label' for='SoreThroat-2'>2</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='SoreThroat-3' name='throat' type='radio' value= "3">
                    <label class='option-label' for='SoreThroat-3'>3</label>
                </li>
                <li class='option'>
<<<<<<< HEAD
                    <input class='option-input' id='SoreThroat-4' name='throat' type='radio' value= "4">
                    <label class='option-label' for='SoreThroat-4'>4</label>
=======
                    <input class='option-input' id='Breath-3' name='breath' type='radio' value= "0">
>>>>>>> 3b357516097c7aa94a6937f991a1d4f06d3f9c40
>>>>>>> f24a95a319ffff4fd814916f2550400d54cf0737
                    <label class='option-label' for='Breath-3'>Can't tell</label>
>>>>>>> refs/remotes/origin/client
                </li>
                <li class='option'>
                    <input class='option-input' id='SoreThroat-5' name='throat' type='radio' value= "5">
                    <label class='option-label' for='SoreThroat-5'>5</label>
                </li>
            </ul>
        </div>


        <div class='field required'>
            <label class='label required'>Headache severity</label>
            <ul class='options'>
<!--                <li class='option'>-->
<!--                    <input class='option-input' id='headache-0' name='headache' type='radio' value='0' required>-->
<!--                    <label class='option-label' for='headache-0'>0</label>-->
<!--                </li>-->
                <li class='option'>
                    <input class='option-input' id='headache-1' name='headache' type='radio' value='1'>
                    <label class='option-label' for='headache-1'>1</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='headache-2' name='headache' type='radio' value='2'>
                    <label class='option-label' for='headache-2'>2</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='headache-3' name='headache' type='radio' value="3">
                    <label class='option-label' for='headache-3'>3</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='headache-4' name='headache' type='radio' value='4'>
                    <label class='option-label' for='headache-4'>4</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='headache-5' name='headache' type='radio' value='5'>
                    <label class='option-label' for='headache-5'>5</label>
                </li>
            </ul>
        </div>


        <div class='field required'>
            <label class='label required'>Fatigue severity</label>
            <ul class='options'>
<!--                <li class='option'>-->
<!--                    <input class='option-input' id='fatigue-0' name='fatigue' type='radio' value='0' required>-->
<!--                    <label class='option-label' for='fatigue-0'>0</label>-->
<!--                </li>-->
                <li class='option'>
                    <input class='option-input' id='fatigue-1' name='fatigue' type='radio' value='1'>
                    <label class='option-label' for='fatigue-1'>1</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='fatigue-2' name='fatigue' type='radio' value='2'>
                    <label class='option-label' for='fatigue-2'>2</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='fatigue-3' name='fatigue' type='radio' value='3'>
                    <label class='option-label' for='fatigue-3'>3</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='fatigue-4' name='fatigue' type='radio' value='4'>
                    <label class='option-label' for='fatigue-4'>4</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='fatigue-5' name='fatigue' type='radio' value='5'>
                    <label class='option-label' for='fatigue-5'>5</label>
                </li>
            </ul>
        </div>


        <div class='field required'>
            <label class='label required'>Can Taste?</label>
            <ul class='options'>
                <li class='option'>
                    <input class='option-input' id='taste-0' name='taste' type='radio' value='0' required>
                    <label class='option-label' for='taste-0'>Nothing</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='taste-1' name='taste' type='radio' value='1'>
                    <label class='option-label' for='taste-1'>Barely</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='taste-2' name='taste' type='radio' value='2'>
                    <label class='option-label' for='taste-2'>Good</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='taste-3' name='taste' type='radio' value='3'>
                    <label class='option-label' for='taste-3'>Great</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='taste-4' name='taste' type='radio' value='4'>
                    <label class='option-label' for='taste-4'>As Always</label>
                </li>
            </ul>
        </div>


        <div class='field required'>
            <label class='label required'>Can Smell?</label>
            <ul class='options'>
                <li class='option'>
                    <input class='option-input' id='smell-0' name='smell' type='radio' value='0' required>
                    <label class='option-label' for='smell-0'>Nothing</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='smell-1' name='smell' type='radio' value='1'>
                    <label class='option-label' for='smell-1'>Barely</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='smell-2' name='smell' type='radio' value='2'>
                    <label class='option-label' for='smell-2'>Good</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='smell-3' name='smell' type='radio' value='3'>
                    <label class='option-label' for='smell-3'>Great</label>
                </li>
                <li class='option'>
                    <input class='option-input' id='smell-4' name='smell' type='radio' value='4'>
                    <label class='option-label' for='smell-4'>As Always</label>
                </li>
            </ul>
        </div>


        <button class="btn btn-lg btn-primary" type="submit">Send</button>
    </form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="../js/questionnaire.js"></script>
</body>
</html>
