<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>C19HDM | Registration</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>

<%- include('./partials/notification.ejs') %>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form id="sign-up" action="/api/v1/auth/register" method="post">
            <h1>Create Account</h1>
            <div id="sign-up-errors" style="margin: 5px;padding: 5px;color: red;"></div>
            <br>
            <div>
                <input id="first-name" name="firstName" type="text" placeholder="First Name" required/>
                <span><i title="Minimum 3 characters Name and maximum 20"  class="fas fa-exclamation-circle"></i></span>
            </div>

            <div>
                <input id="last-name" name="lastName" type="text" placeholder="Last Name" required/>
                <span><i title="Minimum 3 characters Name and maximum 20"  class="fas fa-exclamation-circle"></i></span>
            </div>

            <div>
                <input id="national-id" name="nationalId" type="text" placeholder="National ID" required/>
                <span><i title="National ID should contain 10 numbers only"  class="fas fa-exclamation-circle"></i></span>
            </div>


            <div>
                <input id="email" name="email" type="email" placeholder="Email" required/>
                <span><i title="Ex: Exg@gmail.com"  class="fas fa-exclamation-circle"></i></span>
            </div>

            <div>
                <input id="password" name="password" type="password" placeholder="Password" required/>
                <span><i title="Minimum 6 Characters"  class="fas fa-exclamation-circle"></i></span>
            </div>

            <select class="Security-Question" name="question" id="Security-Question">
                <option selected disabled>Select Security Question</option>
                <option value="q1">What is your pet name ?</option>
                <option value="q2">What is your first school name ?</option>
                <option value="q3">What is your best friend name ?</option>
                <option value="q4">What is your favorite food ?</option>
            </select>

            <div>
                <input id="Security-Question-Answer" name="answer" type="text" placeholder="Security Question" required/>
                <span><i title="Answer Your security Question"  class="fas fa-exclamation-circle"></i></span>
            </div>



            <input id="birth-date"  name="birthdate" class="date" type="date" placeholder="Birthdate" min="1900-01-01" max="2015-01-01" required/>

            <select id="gender" name="gender">
                <option selected disabled style="display: none;">Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>


            <input name="homeAddress" type="home" placeholder="Home Address" required/>


            <div>
                <input id="phone-number" name="phoneNumber" type="phone" placeholder="Phone Number" required/>
                <span><i title="Follow the formula: 07XXXXXXXX"  class="fas fa-exclamation-circle"></i></span>
            </div>

            <br>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form id="sign-in" action="/api/v1/auth/login" method="post">
            <h1>Sign in</h1>
            <div id="sign-in-errors" style="margin: 5px;padding: 5px;color: red;"></div>
            <br>
            <input name="nationalId" type="text" placeholder="National ID" required/>
            <input name="password" type="password" placeholder="Password" required/>
            <button type="submit">Sign In</button>

            <a href="/auth/forgetPassword">forget your password?</a>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <div class="logoContainer">
                    <img class="logoImage" src="../images/white.PNG" alt="">
                </div>
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="sign-in-button">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <div class="logoContainer">
                    <img class="logoImage" src="../images/white.PNG" alt="">
                </div>
                <h1>Hello, Friend!</h1>
                <p>Welcome to Covid-19 Home Monitoring System</p>
                <button class="ghost" id="sign-up-button">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>
        Your Trust COVID-19 Healthcare Distance Monitoring System
    </p>
</footer>
<script src="../js/registration.js"></script>
</body>

</html>
