<section id="Features">

    <div class="row">
        <div class="Features-item-l col-lg-3 col-md-6">
            <div class="sm">
                <a href="#"><i class="icon fas fa-hospital-user fa-2x"></i></a>
            </div>
            <h4>Join Patient Role</h4>
        </div>

        <div class="Features-item-r col-lg-3 col-md-6">
            <div class="sm">
                <a href="#"><i class="icon fas fa-user-nurse fa-2x"></i></a>
            </div>
            <h4>Create Mentor Role</h4>
        </div>

        <div class="Features-item-l col-lg-3 col-md-6">
            <div class="sm">
                <a href="#"><i class="icon fas fa-user-md fa-2x"></i></a>
            </div>
            <h4>Create Doctor Role</h4>
        </div>

        <div class="Features-item-r col-lg-3 col-md-6">
            <div class="sm">
                <a href="#"><i class=" icon far fa-phone-plus fa-2x"></i></a>
            </div>
            <h4>Emergency</h4>
            <p>If you are feeling Severe pain and want to seek urgent medical assistance.</p>
        </div>
    </div>

</section>
<section id="more">
    <div class="firstPara">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="main-text font-weight-bolder display-4">PHYSICAL HEALTH</h1>
                <p class="italic-text text-muted font-italic">During COVID-19</p>
                <p class="info">
                    ‘The ability to perform daily tasks and live comfortably in one’s body’.
                </p>
                <p class="info">
                    Physical health is the well-being of the body and the proper functioning of the organism of individuals,
                    which is a normal condition for individuals of both physical,
                    and mental condition who are not suffering from any type of sickness.
                </p>
                <h5>refer to the following website for more information about Physical health : <a href="https://www1.health.gov.au/internet/publications/publishing.nsf/Content/mental-pubs-p-mono-toc~mental-pubs-p-mono-bas~mental-pubs-p-mono-bas-alt~mental-pubs-p-mono-bas-alt-phy" target="_blank">https://www1.health.gov.au/</a></h5>
                <h5>tips to better you Physical Fitness: <a href="https://simple.wikipedia.org/wiki/Physical_fitness" target="_blank">https://simple.wikipedia.org/wiki/Physical_fitness</a></h5>
            </div>
            <div class="col-lg-6">
                <img class="first-more-img" src="../../images/10748.jpg" alt="man">
            </div>
        </div>
    </div>
    <hr class="HrLine" size="3" noshade>
    <div class="secondPara">
        <div class="row">
            <div class="col-lg-6">
                <img class="more-img" src="../../images/5302.jpg" alt="man">
            </div>
            <div class="col-lg-6">
                <h1 class="main-text font-weight-bolder display-4">MENTAL HEALTH</h1>
                <p class="italic-text text-muted font-italic">During COVID-19</p>
                <p class="info">
                    Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act.
                    It also helps determine how we handle stress, relate to others, and make choices.
                </p>
                <p>
                    Mental health is important at every stage of life, from childhood and adolescence through adulthood.
                    Over the course of your life, if you experience mental health problems, your thinking, mood, and behavior could be affected.
                </p>
                <h5>website for Mental Health Awareness: <a href="https://www.mentalhealth.org.uk/campaigns/mental-health-awareness-week" target="_blank">https://www.mentalhealth.org.uk/campaigns/mental-health-awareness-week</a></h5>
                <h5>refer to the following website for more information about mental health and some tips on dealing with it: <a href="https://www.medicalnewstoday.com/articles/154543#treatment" target="_blank">https://www.medicalnewstoday.com/articles/154543#treatment</a></h5>
            </div>
        </div>
    </div>
    <hr class="HrLine" size="3" noshade>
    <div class="thirdPara">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="main-text font-weight-bolder display-4">Are You Vaccinated?</h1>
                <p class="italic-text text-muted font-italic">Jordan's Vaccine Application</p>
                <p class="info">
                    We Believe that prevention is always better than curement.
                </p>
                <p class="info">
                    Thus it is always to be safe than sorry hence, applying to a vaccine is a must.
                    In our beloved country, Jordan, it is possible to apply to a platform to get your vaccine,
                    so once you are out of covid symptoms you should apply through the following website.
                    <a href='https://vaccine.jo/cvms/' target="_blank">https://vaccine.jo/cvms/</a>
                <h3 style="color:red;">Warning:<h4 style="color:red;">Be sure to wait for atleast 3 weeks after you get cured to get your vaccine</h4></h3>
                </p>
            </div>
            <div class="col-lg-6">
                <img class="first-more-img" src="../../images/vaccine.jpg" alt="man">
            </div>
        </div>
    </div>

</section>