<section id="Features">

    <div class="row">
        <div class="Features-item-l col-lg-3 col-md-6">
            <div class="sm">
                <a href="/all-patients"><i class="icon fas fa-hospital-user fa-2x"></i></a>
            </div>
            <h4>Patients List</h4>
            <p>View and manage the full current patient list.</p>
        </div>

        <div class="Features-item-r col-lg-3 col-md-6">
            <div class="sm">
                <a href="/my-patients"><i class="icon fas fa-users-medical fa-2x"></i></a>
            </div>
            <h4>Monitored Patients</h4>
            <p>View patients that are currently being mentored by you.</p>
        </div>

        <div class="Features-item-l col-lg-3 col-md-6">
            <div class="sm">
                <a href="/advice"><i class="icon fas fa-comment-medical fa-2x "></i></a>
            </div>
            <h4>Give Advice</h4>
            <p>Write daily advices that helps current patients.</p>
        </div>

        <div class="Features-item-r col-lg-3 col-md-6">
            <div class="sm">
                <a href="/emergency-cases"><i class=" icon far fa-phone-plus fa-2x"></i></a>
            </div>
            <h4>Emergency Cases</h4>
            <p>If you are feeling Severe pain and want to seek urgent medical assistance.</p>
        </div>
    </div>

</section>
<section id="more">
    <div class="firstPara">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="main-text font-weight-bolder display-4">THE IMPORTANCE OF MENTORS</h1>
                <p class="italic-text text-muted font-italic">During COVID-19</p>
                <p class="info">
                    Mentors have critical roles and responsibilities during the COVID-19 pandemic. They will continue to
                    be at the front line of patient care in hospitals and actively involved with evaluation and
                    monitoring in the community.
                </p>
                <p class="info">
                    They have to ensure that all patients acquire personalized, high-quality services irrespective of
                    their
                    infectious condition. They will also engage in planning for anticipated COVID-19–related outbreaks,
                    which increase the demand for nursing and healthcare services that might overload systems.
                </p>

                <h5>refer to the following website for more information about The Importance of Mentors Sensitively : <a
                            href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7543802/"
                            target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7543802/</a>
                </h5>
            </div>
            <div class="col-lg-6">
                <img  class="first-more-img" src="../../images/mentors-2.jpg" alt="Mentors">
            </div>
        </div>
    </div>
    <hr class="HrLine" size="3" noshade>
    <div class="secondPara">
        <div class="row">
            <div class="col-lg-6">
                <img class="more-img" src="../../images/mentoring.jpg" alt="man">
            </div>
            <div class="col-lg-6">
                <h1 class="main-text font-weight-bolder display-4">MENTORING DURING COVID-19</h1>
                <p class="italic-text text-muted font-italic">During COVID-19</p>
                <p class="info">
                    During the COVID-19 pandemic, mentoring is needed more than ever. During the best of times the art
                    of mentoring can be challenging. Whether it’s helping a junior researcher collect data or apply for
                    a first grant, or advising a post-doctoral fellow on next steps, mentoring requires a wide and
                    varied skill set.
                </p>
                <p>
                    Now we are doing all of this, and more, as we face this global pandemic. It is important that we
                    take time to think in different ways to support ourselves and our mentees.
                </p>
                <h5>refer to the following website for more information about Mentoring During COVID-19 Sensitively : <a
                            href="https://health.ucdavis.edu/ctsc/area/education/mentoring-academy/covid-19-resources.html"
                            target="_blank">https://health.ucdavis.edu/ctsc/area/education/mentoring-academy/covid-19-resources.html</a>
                </h5>
            </div>
        </div>
    </div>
    <hr class="HrLine" size="3" noshade>
    <div class="thirdPara">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="main-text font-weight-bolder display-4">Are You Vaccinated?</h1>
                <p class="italic-text text-muted font-italic">Jordan's Vaccine Application</p>
                <p class="info">
                    We Believe that prevention is always better than curement.
                </p>
                <p class="info">
                    Thus it is always to be safe than sorry hence, applying to a vaccine is a must.
                    In our beloved country, Jordan, it is possible to apply to a platform to get your vaccine,
                    so once you are out of covid symptoms you should apply through the following website.
                    <a href='https://vaccine.jo/cvms/' target="_blank">https://vaccine.jo/cvms/</a>
                <h3 style="color:red;">Warning:<h4 style="color:red;">Be sure to wait for atleast 3 weeks after you get
                        cured to get your vaccine</h4></h3>
                </p>
            </div>
            <div class="col-lg-6">
                <img class="first-more-img" src="../../images/vaccine.jpg" alt="man">
            </div>
        </div>
    </div>

</section>