<nav class="navbar navbar-expand-lg navbar-styling fixed-top">
    <a class="navbar-brand" href="/"><img class="logo" src="../../images/white.png" alt="white-logo"> Home Distance
        Monitoring</a>

    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav ml-auto mr-5">
            <% if (!isAdmin) { %>
            <li class="nav-item active">
                <a class="nav-link primary-item" href="/profile/<%= me.nationalId %>"><img class="profile-icon"
                                                                                           src="../../images/10748.jpg"
                                                                                           alt=""> <%= me.firstName %>
                </a>
            </li>

            <li class="nav-item active dropdown nav-item-container">
                <a
                        class="nav-link dropdown-toggle my-dropdown-toggle"
                        href="#"
                        id="navbarDropdownMenuLink2"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                ><i class="fas fa-bell"></i></a>
                <div class="dropdown-menu dropdown-menu-right noti-container" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item secondary-item noti-item" href="#">
                        <div class="inner-noti-item">
                            <h6 class="inner-noti-header">Doctor name</h6>
                            <p class="inner-noti-text">This is a notification This is a notification This is a
                                notification This is a notification This is a notification This is a notification</p>
                            <p class="inner-noti-time"><i class="far fa-clock"></i> 15 Hours ago..</p>
                        </div>
                    </a>
                    <a class="dropdown-item secondary-item noti-item" href="#">
                        <div class="inner-noti-item">
                            <h6 class="inner-noti-header">Doctor name</h6>
                            <p class="inner-noti-text">This is a notification This is a notification This is a
                                notification This is a notification This is a notification This is a notification</p>
                            <p class="inner-noti-time"><i class="far fa-clock"></i> 15 Hours ago..</p>
                        </div>
                    </a>

                </div>
            </li>

            <li class="nav-item active dropdown nav-item-container">
                <a
                        class="nav-link dropdown-toggle my-dropdown-toggle"
                        href="#"
                        id="navbarDropdownMenuLink2"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                ><i class="fad fa-inbox"></i></a>
                <div class="dropdown-menu dropdown-menu-right noti-container" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item secondary-item noti-item" href="#">
                        <div class="inner-noti-item">
                            <img class="message-image" src="/images/3485230f.jpg" alt="profile-image">
                            <h6 class="inner-noti-header">Doctor name</h6>
                            <p class="inner-noti-text">This is a Message, This is a Message, This is a Message, This is
                                a Message, This is a Message, This is a Message,This is a Message</p>
                            <p class="inner-noti-time"><i class="far fa-clock"></i> 15 Hours ago..</p>
                        </div>
                    </a>
                    <a class="dropdown-item secondary-item noti-item" href="#">
                        <div class="inner-noti-item">
                            <img class="message-image" src="/images/3485230f.jpg" alt="profile-image">
                            <h6 class="inner-noti-header">Doctor name</h6>
                            <p class="inner-noti-text">This is a Message, This is a Message, This is a Message, This is
                                a Message, This is a Message, This is a Message,This is a Message</p>
                            <p class="inner-noti-time"><i class="far fa-clock"></i> 15 Hours ago..</p>
                        </div>
                    </a>


                </div>
            </li>
            <% } %>

            <li class="nav-item active dropdown nav-item-container">
                <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                ></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item secondary-item" href="/my-patients"><i
                                class="fas fa-monitor-heart-rate"></i> Monitored Patients</a>
                    <a class="dropdown-item secondary-item" href="/emergency-cases"><i class="fas fa-search"></i>
                        Emergency cases</a>
                    <a class="dropdown-item secondary-item" href="/all-patients"><i class="fas fa-search"></i> All
                        Patients</a>
                    <a id="logout" class="dropdown-item secondary-item" href="#"><i class="fas fa-sign-out-alt"></i>
                        Logout</a>
                    <a class="dropdown-item secondary-item nav-link dropdown-toggle inner-dropdown"
                       id="navbarDropdownMenuLink2"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                       href="#"> <i class="fas fa-random"></i> Switch role to </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink2">
                        <a id="patient-role" class="dropdown-item secondary-item" href="#"><i
                                    class="fas fa-hospital-user"></i> Patient</a>
                        <a id="monitor-role" class="dropdown-item secondary-item" href="#"><i
                                    class="fas fa-user-nurse"></i> Monitor</a>
                        <a id="doctor-role" class="dropdown-item secondary-item" href="#"><i class="fas fa-user-md"></i>
                            Doctor</a>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</nav>


<script src="../../js/nav.js"></script>

