<audio id="notification-audio" src="../../audio/notify.ogg" muted></audio>
<div id="notifications" class="notification-container">
    <div class="notification-item">
        Notification!!
        <div class="notification-exit"><i class="fas fa-times"></i></div>
    </div>
</div>

