<audio id="notification-audio" src="../../audio/notify.ogg" muted></audio>
<div id="notifications" class="notification-container"></div>

<!--
    <div class="notification-item success">
        <div class="notification-title"> Title</div>
        <div class="notification-body"> Connected Successfully</div>
        <div class="notification-exit"><i class="fas fa-times"></i></div>
    </div>
-->
