<link rel="stylesheet" href="../../css/phoneCode.css">
<div class="input-group">
    <input type="tel" class="form-control">
    <span class="input-group-addon">Tel</span>
</div>
<script src="../../js/phoneNumberCode.js"></script>
