html, body {
    min-height: 100%;
}
/*
body, div, form, input, select, p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}*/
h1 {
    position: absolute;
    margin: 0;
    font-size: 32px;
    color: #fff;
    z-index: 2;
}
h2 {
    text-align: center;
    font-weight: 400;
}



.testbox {
    position: relative;
    width: 60%;
    margin: 7% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}
form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 20px 0 #095484;
}

input, select {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input {
    width: calc(100% - 10px);
    padding: 5px;
}

.item input:hover, .item select:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #095484;
    color: #095484;
}

.item {
    position: relative;
    margin: 10px 0;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
}
.item i {
    right: 2%;
    top: 30px;
    z-index: 1;
}
[type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}
button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background: #0666a3;
}
@media (min-width: 568px) {
    .name-item, .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .name-item input, .city-item input {
        width: calc(50% - 20px);
    }
    .city-item select {
        width: calc(50% - 8px);
    }
}


#footer{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    bottom: 50px;
    left: 35%;

}

.sm a{
    display: inline-block;
    font-size: 40px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #426c88;
    transition: .4s linear;
    position: relative;
}

.sm a::before , .sm a::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}

.sm a:hover{
    transform: scale(.8);
}

#footer .sm a:hover::before{
    border-left: 4px solid;
    border-right: 4px solid;
    transform:skewX(20deg) ;
}

#footer .sm a:hover::after{
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform:skewy(-20deg) ;
}

.serv-btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    background-color: #3D94F6;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.serv-btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    text-decoration: none;
}
