body{
    margin: 0;
    padding: 0;
    background-color: #ecedf3;
}


#forgetPassword{
    margin: 7% 15%;
    width: 60%;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 10px 0 #888888;
    border-radius: 0.5%;
    position: relative;
}

div.field.required{
    margin: 5% 0 5% 0;
}

.button{
    background-color:#426c88 ;
    border: none;
    outline: none;
}

.field{
}
input ,  select{
    width: 90%;
}

.logoImage{
    position: absolute;
    right: 0;
    top: 0;
}

img{
    width: 120px;
}

span{
    opacity: 0.5;
    font-size: 16px;
}
span:hover{
    cursor: pointer;
    opacity: 1;
}
