.noti-container {

    width: 400px !important;
    height: auto !important;
}
.inner-dropdown{
    padding-left: 24px !important;
}

.noti-item{
    width:400px;
    height: 120px;
}
.inner-noti-item{
    width:100%;
    height: 100%;

}

.inner-noti-header{
    width: 100%;
    display: inline-block;
}
.inner-noti-text{
    width: 100%;
    font-size: 13px;
    height: 40px;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    margin-bottom: 10px;
}
.inner-noti-time{
    float: right;
    font-size: 12px;
    color: #A9A9A9;
}

.my-dropdown-toggle:after {
    content: none
}

.message-image{
    display: inline;
    width: 40px;
    height:40px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.navbar-styling{
    background-color: #2554a1;
}


.logo{
    width: 60px;
    height: auto;
}


.navbar-nav.ml-auto li a{
    color: #fff;
    font-size: 18px;
}


.navbar-brand{
    color: #FFFFFF !important;
}


.nav-item{
    padding-right:15px;
    padding-left:15px;
    margin: 5px;
}


.dropdown-menu.dropdown-menu-right.show{
    background-color: #2554a1;
}


.dropdown-item.secondary-item:focus, .dropdown-item.secondary-item:hover{
    background-color: #fff;
    color: #2554a1;
}


.nav-item.active:hover{
    background-color: #fff;
    border-radius: 30px;
    color: #2554a1;
}

.nav-item.active:hover > a{
    color: #2554a1;
}

.profile-icon{
    width: 40px;
    height: auto;
    border-radius: 100px;
    margin-right: 7px;
}

.fa-bars{
    color: #fff;
}