.navbar-styling{
    background-color: #2554a1;
}


.logo{
    width: 60px;
    height: auto;
}


.navbar-nav.ml-auto li a{
    color: #fff;
    font-size: 18px;
}


.navbar-brand{
    color: #FFFFFF !important;
}


.nav-item{
    padding-right:15px;
    padding-left:15px;
    margin: 5px;
}


.dropdown-menu.dropdown-menu-right.show{
    background-color: #2554a1;
}


.dropdown-item.secondary-item:focus, .dropdown-item.secondary-item:hover{
    background-color: #fff;
    color: #2554a1;
}


.nav-item.active:hover{
    background-color: #fff;
    border-radius: 30px;
    color: #2554a1;
}

.nav-item.active:hover > a{
    color: #2554a1;
}

.profile-icon{
    width: 40px;
    height: auto;
    border-radius: 100px;
    margin-right: 7px;
}

.fa-bars{
    color: #fff;
}
