body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

.patients-table{
    margin-top: 70px;
}

.navbar-brand{
    margin-left: 14%;
}

.heading{
    margin-top: 50px;
    margin-left:15% ;
}

.paraHeading{
    margin-left:15% ;
}
/*home page content */

.home-page-content {
    background-color: aliceblue;
}

.covid-header{
    color: #2554a1;
    font-weight: 900;
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
}

.left-contant {
    margin-left: 15% ;
    margin-top: 10%;
    text-align: left;

}
.pat-img{
    width: 100%;
}


/* features */

#Features{
    padding: 1% 10%;
}

.Features-item-l{
    text-align: center;
    background-color:#f0f8ff;
    padding: 2%;

}

.Features-item-r{
    text-align: center;
    background-color:#D7ECFF;
    padding: 2%;
}

.icon {
    margin-bottom: 10px;
    color: black;
}
/*more*/

#patients-list{
    padding: 1% 9%;
    margin-top: 70px;
}
.patients-list-text{
    margin-top: 5%;
}

.table-container{
    height: 350px;
    width: 70%;
}

.table{
    border-collapse: collapse;
    margin: 7% 15%;
}
.table td,.table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}
.table td{
    font-size: 16px;
}
.table th {
    background-color: darkblue;
    color: #FFFFFF;
    font-size: 20px;
}

.table tbody tr:nth-child(even){
    background-color: #f5f5f5;
}

#footer{
    position: relative;
    bottom: -400px;
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm a{
    display: inline-block;
    font-size: 40px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #426c88;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;
}

.sm a::before , .sm a::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}

.sm a:hover{
    transform: scale(.8);
}

#footer .sm a:hover::before{
    border-left: 4px solid;
    border-right: 4px solid;
    transform:skewX(20deg) ;
}

#footer .sm a:hover::after{
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform:skewy(-20deg) ;
}

.serv-btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    background-color: #3D94F6;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.serv-btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    text-decoration: none;
}

@media(max-width:1240px){
    .pat-img{
        padding-left: 20px;
    }
}

@media(max-width:1190px){
    .pat-img{
        padding-left: 40px;
    }
}

@media(max-width:1120px){
    .pat-img{
        padding-left: 100px;
        height: 100%;
    }
}

.j-animate{
    margin: 10px;
}
