body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}


/*home page content */

.home-page-content {
    background-color: aliceblue;
}

.covid-header{
    color: #2554a1;
    font-weight: 900;
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
}

.left-contant {
    margin-left: 15% ;
    margin-top: 10%;
    text-align: left;

}
.pat-img{
    width: 100%;
}


/* features */

#Features{
    padding: 1% 10%;
}

.Features-item-l{
    text-align: center;
    background-color:#f0f8ff;
    padding: 2%;

}

.Features-item-r{
    text-align: center;
    background-color:#D7ECFF;
    padding: 2%;
}

.icon {
    margin-bottom: 10px;
    color: black;
}
/*more*/
#more{
    margin: 5% 15%;
}

.more-img{
    width: 100%;
    height: 100%;
}

.first-more-img{
    width:100%;
    height: 100%;

}

.main-text{
    size:5.25rem;
}

.firstPara{
    margin-bottom:5%;
}
.secondPara{
    margin-top:5%;
}
.HrLine{
    border-style:dotted none none;
    border-width: 10px;
    background: none;
    width: 20%;
    border-color:#807676;
}
.info{
    line-height: 2;
    font-size: 1.1rem;
}
/* testimonials */

#testimonials{

    text-align: center;
    background-color:#D7ECFF;
    width: 100%;
    height: 45rem;
}
.testimonial-para{
    font-size: 16pt;
}

.carousel-item{
    padding: 4% 15%  0;
}
.light{
    font-weight: 300;
}

.heavy{
    font-weight: 700;
    margin-bottom: 3rem ;
}

.doctor_name {
    color: #3D94F6;
    padding: 10px;
    font-size: 12pt;
}

.quotes{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
/* Call to Action */

#cta {
    margin-top: 2%;
    text-align: center;
}

@media(max-width:1240px){
    .pat-img{
        padding-left: 20px;
    }
}

@media(max-width:1190px){
    .pat-img{
        padding-left: 40px;
    }
}

@media(max-width:1120px){
    .pat-img{
        padding-left: 100px;
        height: 100%;
    }
}

.j-animate{
    margin: 10px;
}

.testimonials-img {
    border-radius: 30% 30% 30% 0;
    width: 150px;
    height: 150px;
}